<!DOCTYPE html>
</html>
<head>
    <title>Seller View</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<body>
<h1>Seller Table</h1>
<div >
    <table id='table' border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>User ID</th>
            <th>Property ID</th>
            <th>Property For</th>
            <th width="120px">Action</th>
        </tr>
        <% for(var i=0; sellers.length > i; i++) { %>
        <tr>
            <td><%= sellers[i].user_id %></td>
            <td><%= sellers[i].property_id %></td>
            <td><%= sellers[i].property_for %></td>
            <td>
                <a class="button1" href='/seller/edit/?user_id=<%= sellers[i].user_id %>'>
                    Edit
                </a>
                <a class="button2" href='/seller/delete/?user_id=<%= sellers[i].user_id %>'>
                    Delete
                </a>
            </td>
        </tr>
        <% }%>

    </table>
    </br>
    <a href='/' class="button" >Main Page</a>
    <a href='/seller/add' class="button" > Add new seller </a>
</div>
</div>
</body>
</html>

