<!DOCTYPE html>
</html>
<head>
    <title>Buyers View</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<body>
<h1>Buyer Table</h1>
<div >
    <table id='table' border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>User ID</th>
            <th>Property Type</th>
            <th>Budget</th>
            <th width="120px">Action</th>
        </tr>
        <% for(var i=0; buyers.length > i; i++) { %>
        <tr>
            <td><%= buyers[i].user_id %></td>
            <td><%= buyers[i].prop_type %></td>
            <td><%= buyers[i].budget %></td>
            <td>
                <a class="button1" href='/buyer/edit/?user_id=<%= buyers[i].user_id %>'>
                    Edit
                </a>
                <a class="button2" href='/buyer/delete/?users_id=<%= buyers[i].user_id %>'>
                    Delete
                </a>
            </td>
        </tr>
        <% }%>

    </table>
    </br>
    <a href='/' class="button" >Main Page</a>
    <a href='/buyer/add' class="button" > Add new buyer </a>
</div>
</div>
</body>
</html>

