<!DOCTYPE html>
</html>
<head>
    <title>Geoff's Project 1</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<body>
<h1>Property Address Table</h1>
        <div >
            <table id='table' border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th>Property name</th>
                    <th>City</th>
                    <th>Zip</th>
                    <th width="120px">Action</th>
                </tr>
                <% for(var i=0; p_addresses.length > i; i++) { %>
                <tr>
                    <td><%= p_addresses[i].property_name %></td>
                    <td><%= p_addresses[i].city %></td>
                    <td><%= p_addresses[i].zip %></td>
                    <td>
                        <a class="button1" href='/p_address/edit/?p_address_id=<%= p_addresses[i].p_address_id %>'>
                            Edit
                        </a>
                        <a class="button2" href='/p_address/delete/?p_address_id=<%= p_addresses[i].p_address_id %>'>
                            Delete
                        </a>
                    </td>
                </tr>
                <% }%>

            </table>
            </br>
            <a href='/' class="button" >Main Page</a>
            <a href='/p_address/add' class="button" > Add new address </a>
         </div>
        </div>
</body>
</html>

