<!DOCTYPE html>
</html>
<head>
    <title>Users View</title>

</head>
<body>
<div >
    <h1>Users Table</h1>
    <a href='/p_users/add'> <h2>Add new user</h2> </a>
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>User ID</th>
            <th>User Type</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Contact</th>
            <th width="120px">Action</th>
        </tr>
        <% for(var i=0; p_users.length > i; i++) { %>
        <tr>
            <td> <%= p_users[i].user_id %></td>
            <td> <%= p_users[i].user_type %></td>
            <td><%= p_users[i].fname %></td>
            <td><%= p_users[i].lname %></td>
            <td><%= p_users[i].contact %></td>
            <td>
                <a href='/p_users/edit/?p_users_id=<%= p_users[i].user_id %>'>
                    Edit
                </a>
            </td>
        </tr>
        <% }%>

    </table>
    </br>
    <a href='/'>Main Page</a>
</div>
</div>
</body>
</html>

